/* general */

*{
	margin: 0;
	padding:0;
}
body{
	font-family: 'poppins', 'sans-serif';
}
html{
	scroll-behavior: smooth;
}
p{
	color: rgb(85, 85, 85) !important;
}

/* transition */

a, .btn{
	transition: all 300ms ease;
}

/* desktop nav */

nav{
	height: 15vh !important;
}
a{
	color: black;
	text-decoration: none !important;
	
}
a:hover{
	color: rgb(78, 78, 255) !important;
	text-decoration: underline !important;
	text-underline-offset: 1rem !important;
	text-decoration-color: rgb(138, 138, 251) !important;
}
.nav_links{
	list-style-type: none !important;
}
/* second menu */

#second_nav{
	display: none !important;
}
.second_menu{
	height: 24px;
	width: 30px;
}
.nav-icon i{
	font-size: 1.5rem;
	transition: opacity 0.3s ease-in-out;
}
.menu_links{
	background-color: #fff;
	width: fit-content !important;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;	
	display: none !important;
}
.menu_links a{
	display: block;
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
}
.menu_links li{
	list-style-type: none !important;
}
.menu_links.open{
	max-height: 300px;
	display: block;
}
.nav-icon span:first-child{
	transform: none;
}
.logo{
	color: rgb(59, 59, 97) !important;
	font-weight: 500;
}
/* //sections */

section{
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content
}

/* //profile section */

#profile{
	gap: 5rem;
	height: 80vh; 
}
.section-pic-container{
	height: 400px;
	width: 400px;
	margin: auto 0;
}

.socials-container i{
	color: rgb(43, 43, 86) !important;
}
.pic{
	filter: grayscale(100%);
}

/* //buttons */
.profileBtn{
	transition: all 300ms ease;	
}
.cvBtn{
	border: 2px solid rgb(89, 89, 112) !important;
}
.contactBtn{
	background-color: rgb(62, 62, 80) !important;
}

.cvBtn:hover{
	color: #fff !important;
	background-color: rgb(53, 53, 71) !important;
}
/* skills section */

article{
	display: flex;
	width: 11rem;
	gap: 0.5rem;
}
.skill-details{
	flex: 1;
}
/* 
//project section */

#project{
	position: relative;
}
.color-container{
	border-color: black;
	background: #fff;
}
.liveDemo, .github{
	width: 8rem !important;
}
.experience-details-container{
	width: 25rem !important;
}
/* contact section */

 .contact-section {
      background-color: #f8f9fa;
      padding: 60px 0;
    }
    .contact-info i {
      font-size: 1.5rem;
      color: #0d6efd;
    }
    .contact-info p, .contact-info a {
      margin: 0;
      color: #333;
    }
    .form-control:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }
    .contact-card {
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }

@media screen and (max-width: 1200px){
	#desktop_nav{
		display: none !important;
	}
	#second_nav{
		display: flex !important;
	}
}

